<section class="auth">
  <form [formGroup]="formEmail" (ngSubmit)="send()">
    <h2 i18n>FORGOT YOUR PASSWORD?</h2>

    <div class="input" appearance="fill">
      <input
        placeholder="Email"
        formControlName="email"
        type="email"
        autocomplete="current-email"
        required>
    </div>
    
    <p *ngIf="sendEmail == true" i18n>
      We will send a link to your email to reset your password.
    </p>

    <div *ngIf="error.value == true" class="error-message">
      {{ error.text }}
    </div>

    <div class="buttons">
      <button
        class="btn"
        type="submit"
        [disabled]="formEmail.invalid"
        aria-hidden="false"
        aria-label="Login">
        Continue
      </button>
    </div>
    
    <div class="text-alt" i18n>
      <p>
        Did you remember your password?
        <a routerLink="../login">Back to login</a>
      </p>
      <p>
        Don't have an account?
        <a routerLink="../register">Register now</a>
      </p>
    </div>
  </form>
</section>