@import "../../app.component";

.sumary {
  padding: 5px;

  li {
    input {
      display: none;
      &:checked + label {
        h2 {
          span {
            transform: rotate(180deg);
          }
        }
        ul {
          height: auto;
          margin-bottom: 5px;
          li {
            height: auto;
            padding: 5px;
            margin: 2px 0;
            border-radius: 2px;
          }
        }
      }
    }
    label {
      h2 {
        padding: 10px;
        background-color: $secondary;
        width: 100%;
        margin-bottom: 5px;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        align-items: center;
        .spacer {
          flex: 1;
          @include no-select();
        }
        span {
          @include transition();
          @include no-select();
        }
      }
      ul {
        @include transition('fast', ease);
        overflow: hidden;
        height: 0;
        li {
          @include transition('fast');
          list-style: decimal;
          height: 0;
          cursor: pointer;
          display: flex;
          &:hover {
            background-color: $light-gray;
          }
          &.select {
            background-color: $primary;
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
}